
body {
    background-image: url('./../public/images/PlaystylePicker_index_background.png');
    background-size:cover;
    background-repeat: no-repeat;
    border-style: solid ;
    border-color: gold;
}