#role_images{
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
}

#roles-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#role-container{
    height:100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#role-container:hover{
    cursor: pointer;
    background-image: linear-gradient(rgba(255, 217, 0, 0.103),rgba(255, 255, 255, 0.034));
}

p{
    color: white;
}